<p>{{ title }}</p>
<app-todo-list></app-todo-list>
<app-form></app-form>
<!-- <app-test-service></app-test-service> -->
<app-test-service />
a
<app-condition-in-html />
b
<app-handle-user-action />
<!-- <button type="reset">test1</button> -->
<!-- <button aria-label="yt-upload">test2</button> -->
<!-- <button type="button" class="class-selector">test</button> -->

<app-style-scope />
<br />
this is from root
<img src="assets/b.png" alt="test pic" />
<br />

<!-- <app-input-accept-data [value]="13" [label]="'   Hello World   '" /> -->
<app-input-accept-data
  [value]="50"
  [label]="label"
  [widthPx]="3"
  [disabled]="'a'"
  [number]="'a1b2'"
  [aliasname]="'usingalias'"
/>

<app-component-output />
